main:hover {
	background-color: rgba(207, 0, 15, 1);
}
.avatar {
	background-image: url("/img/ava.gif");
}

.avatar:hover {
	background-image: url("/img/jump.gif");
}

.avatar,
.avatar:hover {
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}

.name,
.job,
h2,
.details:hover {
	color: #bd1e2c;
}

.contacts a.twitter:hover {
    color: #2183de;
}

.contacts a.instagram:hover {
    color: #9221de;
}

figure {
	background-color: #d9dcde;
	padding: 1rem;
}

blockquote {
	font-style: italic;
}

figcaption {
	font-weight: bolder;
	padding-left: 3rem;
}
